body {
    padding:0;
    margin: 0;  
}
@media (min-width:800px) {
.contanier1 {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: calc(100vh - 162px);
    
    
}
}
.contanier1 div{
    padding: 10px;
    border: 1px solid silver;

}
.header{
    width: 100%; 
    padding: 10px;
    border: 1px solid silver;  
    background-color: blue;
    
}
.footer{
    width: 100%; 
    padding: 10px;
    border: 1px solid silver;  
    background-color: green;  
    
}   

.main{
   
}
    
h3{
    text-align: center;
}
.navigation{
    background-color: orange;
   
}
.related-links{
    background-color: blueviolet;
    
}